@import url('Common.css');
#ErrorInfo
{
	padding: 10px;
}
#leftContainer
{
	width: 208px;
	background-image: url('../Manager/leftbg.jpg');
	height: 533px;
}
#leftContainer div.leftTop
{
	height: 10px;
	background-image: url(../Manager/leftTop.jpg);
	font-size: 6px;
	background-repeat: no-repeat;
}
#leftContainer div.menuList
{
	background-image: url('../Manager/leftBg.jpg');
	padding-bottom: 20px;
	overflow: hidden;
	height: 409px;
	background-repeat: no-repeat;
	width: 197px;
}
#leftContainer div.leftBottom
{
	background-image: url(../Manager/leftBottom.jpg);
	height: 22px;
	margin-top: 5px;
	background-repeat: no-repeat;
}
#leftContainer div.menuList span
{
	width: 107px !important;
	width: 157px;
	height: 20px !important;
	height: 30px;
	padding-left: 50px;
	padding-top: 10px;
	margin: 5px 18px 5px 16px;
	background-image: url(../Manager/MainModule.jpg);
	cursor: pointer;
	display: block;
	background-repeat: no-repeat;
}
#leftContainer div.menuList span.activeMenu
{
	width: 107px !important;
	width: 157px;
	height: 20px !important;
	height: 30px;
	padding-left: 50px;
	padding-top: 10px;
	margin: 5px 18px 5px 16px;
	background-image: url(../Manager/MainModuleActive.jpg);
	cursor: pointer;
	display: block;
}
#leftContainer div.menuList ul
{
	margin: 0;
	padding: 0;
	list-style: none;
}
#leftContainer div.menuList ul li
{
	margin-left: 30px;
	margin-bottom: 10px;
	padding-left: 20px;
	padding-top: 1px;
	background-image: url(../Manager/UnitDot.jpg);
	background-repeat: no-repeat;
	height: auto;
}
#leftContainer div.menuList span.noteShow
{
	width: 30px;
	display: inline;
	height: 10px;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	background-image: none;
	color: green;
}
#leftContainer div.menuList span.noteHidden
{
	width: 45px;
	display: inline;
	height: 10px;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	background-image: none;
	color: red;
}
#leftContainer div.menuList span.special
{
	width: 118px;
	border: solid 1px red;
	display: inline;
	height: 10px;
	padding: 1 2 1 2;
	margin: 0 0 0 0;
	background-image: none;
}
#topMenu
{
	background-image: url(../Manager/topBg.jpg);
	height: 90px;
}
#topLogo
{
	width: 200px;
	height: 90px;
	background-image: url(../Manager/topLogo.jpg);
	float: left;
}
#topUserLogo
{
	width: 200px;
	height: 90px;
	background-image: url(../Manager/topLogoUser.jpg);
	float: left;
}
#top2
{
	width: 35px;
	height: 90px;
	background-image: url(../Manager/Top2.jpg);
	float: left;
}
#menuButton
{
	float: left;
}
#menuButton .TopFrameMenu
{
	height: 12px;
	padding-top: 3px;
	text-align: right;
	padding-right: 20px;
	color: #fff;
	float: right;
}
#menuButton .CmsMenu
{
	clear: both;
	padding-top: 10px;
	text-align: center;
}
#menuButton .CmsMenu a:visited, a:link
{
	color: #000;
}
#menuButton .CmsMenu span
{
	display: block;
	float: left;
	background-image: url(../../icon/circle.gif);
	background-repeat: no-repeat;
	padding-left: 18px;
	width: 80px;
	height: 30px;
	padding-top: 2px;
	margin-left: 10px;
	margin-top: 5px;
}
#menuButton .CmsMenu span.version
{
	background-image: none;
	width: 200px;
	text-align: right;
	padding-top: 0;
	color: #fff;
	filter: dropshadow(color=#666666,offx=1,offy=1);
}
div.SingleModule
{
	clear: both;
	margin: 5px;
}
div.MainBox
{
	border: 1px solid #9DACBF;
	margin: 0;
	padding: 1px;
	background-color: #FFFFFF;
}
div.MainBox div.BigMenu
{
	background-color: #0BAFDE;
	height: 22px;
	line-height: 22px;
	padding: 5px 0 5px 10px;
	color: #fff;
	font-weight: bold;
	letter-spacing: 2px;
	font-size: 13px;
}
div.MainBox div.SmallMenu
{
	background-color: #E2F1FA;
	height: 18px;
	padding: 5px 0 2px 10px;
	letter-spacing: 2px;
	border-bottom: solid 1px #9DACBF;
	clear: both;
}
div.MainBox div.Content
{
	padding: 5px;
	line-height: 20px;
}
div.MainBox div.Content div.LeftPanel
{
	float: left;
	width: 48%;
}
div.MainBox div.Content div.RightPanel
{
	float: right;
	width: 48%;
}
div.MainBox div.Content div.GlobalMessage span
{
	color: #0661AA;
}
fieldset.module
{
	margin-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 10px;
}
fieldset.TipBox
{
	clear: both;
	margin: 5px;
	line-height: 25px;
}
div.ExamSubTitle
{
	font-weight: bold;
	font-size: 14px;
	color: #209BE6;
}
div.ExamModule ul
{
	list-style: none;
	display: inline;
	padding: 5px;
}
div.ExamModule span
{
	font-weight: bold;
}
div.ExamCorrect
{
	margin-bottom: 5px;
}
div.ExamCorrect span
{
	color: #FF0000;
}
#divCurrCent
{
	position: absolute;
	background-color: #A0D2ED;
	border: 1px dotted #CCC;
}
.Log span
{
	color: #FF0000;
}
.ckbIDList
{
	margin: -5px 0 0 0;
	padding: 0;
}
.MainTable
{
	background-color: #E3E3E3;
	margin-bottom: 5px;
	width: 100%;
}
.tdbg1
{
	width: 80px;
	text-align: right;
	background-color: #E2F1FA;
}
.tdbg2
{
	background-color: #fff;
}
.longTd
{
	width: 120px;
}
div.tabMenu a:link
{
	text-decoration: none;
	color: #333;
}
div.tabMenu a:visited
{
	color: #333;
	text-decoration: none;
}
div.tabMenu div a
{
	font-size: 12px;
	font-family: "Song" , "MS Shell Dlg" , "宋体";
	display: block;
	padding: 5px 5px 3px 5px;
	height: 14px;
	float: left;
}
div.tabMenu div.tabButton
{
	background-image: url(../Manager/tabMouseOut.jpg);
	float: left;
	margin-right: 1px;
	border: 1px solid #E3E3E3;
}
div.tabMenu div.tabButtonActive
{
	background-image: url(../Manager/tabActive.jpg);
	float: left;
	margin-right: 1px;
	border: 1px solid #E3E3E3;
	filter: progid:DXImageTransform.Microsoft.Shadow(Color=#999999,Strength=3,Direction=100);
}
div.tabMenu div.tabButton a:hover
{
	background-image: url(../Manager/tabMouseOver.jpg);
	top: 1px;
	position: relative;
}
div.pageList
{
	border: 1px solid #C4D5E9;
	padding: 5px;
	clear: both;
}
div.pageList div.tabPage
{
	display: block;
	display: none;
}
#FileList div
{
	float: left;
	width: 130px;
	word-break: break-all;
	margin: 4px 3px;
}
#FileList div img
{
	border: 0;
	margin: 0 auto;
	width: 120px;
}
img
{
	border: none;
}
#loader_div
{
	padding-right: 0px;
	display: none;
	padding-left: 0px;
	z-index: 200;
	padding-bottom: 0px;
	width: 90px;
	padding-top: 0px;
	position: absolute;
}
#loader_Inner_div
{
	font-weight: normal;
	padding-right: 6px;
	padding-left: 6px;
	font-size: 12px;
	z-index: 600;
	padding-bottom: 4px;
	color: #fff;
	line-height: 1em;
	padding-top: 5px;
	background-color: #ffb623;
}
.custom_button
{
	border-right: #6699cc 1px solid;
	border-top: #6699cc 1px solid;
	font-size: 12px;
	min-height: 22px;
	background: url(../Manager/bg_Btn.png) repeat-x right top;
	border-left: #6699cc 1px solid;
	color: #2f468f;
	border-bottom: #6699cc 1px solid;
	height: 22px;
	cursor: pointer;
}
.PicList div
{
	float: left;
	border: 1px dotted #666;
	margin: 2px;
	text-align: center;
}
.RoleTable
{
	width: 100%;
	background: #E2F1FA;
}
.RoleTable td
{
	width: 50%;
	border: solid 1px #abc;
	padding: 5px;
	background: #EEE;
}
#divModulePower fieldset
{
	margin-top: 1px;
}
div.pluginBox ul
{
	list-style: none;
	margin: 0;
	padding: 0;
	border-top: 2px dotted #ddd;
	margin-top: 10px;
}
div.pluginBox ul li.title
{
	color: #2175bc;
	padding-top: 5px;
}
div.pluginBox ul li
{
	text-align: left;
	padding: 3px;
}
div.pluginBox ul li.installed span.install
{
	background-image: url( '../../Icon/redBtn.gif' );
}
div.pluginBox ul li span.install
{
	float: right;
	text-align: center;
	line-height: 19px;
	width: 35px;
	height: 19px;
	cursor: pointer;
	color: #fff;
	background: url( '../../Icon/greenBtn.gif' ) no-repeat 50% 50%;
}
div.pluginBox ul li span
{
	margin-right: 10px;
}
div.img_border span
{
	margin: 0;
	padding: 0;
}
div.pluginBox ul li span.title
{
	font-size: 12px;
	color: #2175bc;
	font-weight: bold;
	background: url( '../../Icon/plugin.gif' ) no-repeat left center;
	padding-left: 24px;
	padding-top: 5px;
}
div.pluginBox ul li span.title span
{
	margin: 0;
	padding: 0;
	color: #333;
	font-weight: normal;
}
div.pluginBox ul li.installed span.state
{
	color: Green;
}
div.pluginBox ul li span.state
{
	color: Red;
}
div.pluginBox ul li.dateAbout
{
	color: #aaa;
}
div.pluginBox ul li.dateAbout span
{
	border-right: 0px dotted #999;
	padding: 0px 5px 0 0;
}
div.pluginBox a:link
{
	color: #666;
	text-decoration: none;
}
div.pluginBox ul li.content
{
	color: #333;
}
div.pluginBox ul li.hide
{
	display: none;
}
div.pluginBox ul li span.update
{
	cursor: pointer;
	color: Red;
	text-decoration: underline;
}
div.pluginBox ul li.config
{
	height: 15px;
}
div.pluginBox ul li span.config
{
	color: #fff;
	float: left;
	text-align: center;
	line-height: 19px;
	width: 60px;
	height: 19px;
	cursor: pointer;
	color: #fff;
	background: url( '../../Icon/blueBtn.gif' ) no-repeat 50% 50%;
}

#SkinList
{
    width:100%;	
}
#SkinList dl
{
    border:solid 1px #ccc;
    padding:5px;
    width:180px;
    height:220px;
    margin:5px;
    float:left;
}
#SkinList dl dt
{
    text-align:center; 
    background-color:#eee;
    margin:0;
    padding:0;
}
#SkinList dl dt img
{
    width:160px;
}
#SkinList dl dd
{
    margin:0;
    padding:0;
}