BODY {
	MARGIN: 0px
}
.b {
	BACKGROUND-COLOR: #b6e4af; WIDTH: 603px; HEIGHT: 510px; BORDER-TOP: #006600 1px solid
}
.b_1 {
	PADDING-LEFT: 7px; WIDTH: 588px; FLOAT: left; HEIGHT: 384px; PADDING-TOP: 7px
}
.b_1a {
	BORDER-BOTTOM: #006600 1px solid; BORDER-LEFT: #006600 1px solid; BACKGROUND-COLOR: #ffffff; WIDTH: 588px; HEIGHT: 384px; BORDER-TOP: #006600 1px solid; BORDER-RIGHT: #006600 1px solid
}
.b_la2{BORDER-BOTTOM: #006600 1px solid; BORDER-LEFT: #006600 1px solid; BACKGROUND-COLOR: #ffffff; WIDTH: 100%; HEIGHT: 95px; BORDER-TOP: #006600 1px solid; BORDER-RIGHT: #006600 1px solid}
.b_1aa {
	BACKGROUND-IMAGE: url('../App_Themes/Default/image/a3.jpg'); 
WIDTH: 495px; HEIGHT: 26px
}
.b_1abc {
	WIDTH: 366px; FLOAT: left; HEIGHT: 80px
}

.b_1a02 {
	LINE-HEIGHT: 26px; FONT-FAMILY: "宋体"; FLOAT: left; COLOR: #174398; FONT-SIZE: 12px
}

.b_1b {
	WIDTH: 497px; HEIGHT: 113px; PADDING-TOP: 5px
}

.b_2 {
	PADDING-LEFT: px; WIDTH: 177px; PADDING-RIGHT: 7px; FLOAT: right; HEIGHT: 392px; PADDING-TOP: 7px
}

.b_2a {
	WIDTH: 177px; HEIGHT: 26px; OVERFLOW: hidden
}
.b_2b {
	BORDER-BOTTOM: #006600 1px solid; BORDER-LEFT: #006600 1px solid; BACKGROUND-COLOR: #ffffff; WIDTH: 175px; HEIGHT: 267px; BORDER-TOP: #006600 1px solid; BORDER-RIGHT: #006600 1px solid
}
.b_2bphoto {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 34px; WIDTH: 105px; HEIGHT: 115px; PADDING-TOP: 5px
}
.b_2c {
	WIDTH: 177px; HEIGHT: 18px; PADDING-TOP: 5px
}
.b_22{ background-image:url('../App_Themes/Default/北京远大优绩科技发展有限公司###_files/a5.jpg');
}