html *
{
    margin: 0;
    padding: 0;
}
body
{
    height: 100%;
    overflow: auto;
    background: #fff;
    font-size: 12px;
    font-family:新宋体;
}
#tdhead
{
    font-size: 14px;
    font-weight: bold;
    overflow: hidden;
}
#head
{
    background-repeat: no-repeat;
    background-position: 0 0;
    padding: 0 0 0 35px;
    overflow: hidden;
    height: 41px;
    line-height: 41px;
}
#tdinput
{
    height: 20px;
}
#tdfooter
{
    height: 29px;
    position: relative;
}
#chatbox
{
    height: 100%;
    width: 100%;
    border: none;
    min-height: 424px;
    min-width: 570px;
}
#banner
{
    height: 220px;
    width: 100px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 3px 3px 3px 0;
    cursor: pointer;
}
#logo 
{
    display: block;
    width: 90px;
    height: 41px;
    margin: 0 0 0 0;
}

 a:link {
	color: #05418f;
	text-decoration: none;
}
 a:visited {
	text-decoration: none;
	color: #05418f;
}
 a:hover {
	text-decoration: none;
	color:#05418f;
}
 a:active {
	text-decoration: none;
	color: #05418f;
}

#history
{
    height: 100%;
    background: #fff;
    overflow:hidden;
    border: 1px #ccc solid;
    padding: 0 4px;
}
#footer
{
    text-indent: 25px;
    background-repeat: no-repeat;
    height: 29px;
    line-height: 29px;
    position: absolute;
    width: 100%;
}
#wrap
{
    position: relative;
    padding: 3px;
    display: block;
    height: 100%;
}
#toolsbar
{
    height: 20px;
    line-height: 20px;
    margin: 0;
    padding: 2px 2px;
    z-index: 2;
    width: 456px;
}
#inputarea
{
    width: 100%;
}
#footer p
{
    padding: 0 25px 0 0;
    background-repeat: no-repeat;
    font-size: 12px;
}
ul#toolsbar li
{
    float: left;
    padding: 0 3px 0 18px;
    list-style: none;
    background-image: url('../../Images/Images/tools_icn.gif');
    background-repeat: no-repeat;
    overflow: hidden;
    margin: 2px 0;
    cursor: pointer;
    font-size: 12px;
}
#file
{
    background-position: 2px 2px;
}
#save
{
    background-position: 2px -20px;
}
li.open
{
    background-position: 2px -42px;
}
li.close
{
    background-position: 2px -64px;
}
#language
{
    background-position: 2px -86px;
}
#active
{
    background-position: 2px -108px;
}
#shortcutkey
{
    background: url('../../Images/Images/tools_icn.gif') no-repeat right -148px;
    height: 24px;
    line-height: 24px;
    padding: 0 10px;
    float: right;
    top: 2px;
    right: 10px;
    position: absolute;
    cursor: pointer;
    text-indent: 0;
    font-size: 12px;
}
#exitChat
{
    position: absolute;
    float: right:padding:0 10px;
    top: 5px;
    right: 10px;
    height: 20px;
    line-height: 20px;
    padding: 0 5px 0 22px;
    background-image: url('../../Images/Images/tools_icn.gif');
    background-position: 2px -170px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-size: 12px;
}
#inputarea
{
    clear: both;
    padding-left: 3px;
}
#inputarea textarea
{
    width: 100%;
    height: 100px;
    display: block;
    overflow-x: hideen;
    overflow-y: scroll;
    font-family:新宋体;
    font-size: 11pt;
    mso-ascii-theme-font: minor-fareast;
    font-weight: normal;
    line-height: 1.5em;
}
#enter
{
    width: 104px;
    height: 100px;
    background: #fff;
    cursor: pointer;
    margin: 0 auto;
}
#history span
{
    font-size: 11pt;
    font-weight: normal;
    color: #000;
    display: block;
    text-indent: 24px;
}
#history p
{
    margin: 0px;
    padding: 4px 0;
    line-height: 1.5em;
}
#history p.operator
{
    font-size: 11pt;
    font-weight: bold;
    color: #ff9600;
}
#history p.info
{
    font-size: 14px;
    color: #666666;
}
#history p.visitor
{
    color: #0486b6;
    font-weight: bold;
    font-size: 11pt;
}
#uploadFileBox
{
    position: absolute;
    width: 400px;
    bottom: 3px;
    left: 5px;
    height: 25px;
    overflow: hidden;
    border: 1px #ccc solid;
    z-index: 2;
}
#uploadFileFrame
{
    width: 400px;
    height: 25px;
    border: none;
    background: #fff;
}
#languageList
{
    position: absolute;
    z-index: 2;
    top: 26px;
    width: 100px;
    height: 88px;
    padding: 2px;
    list-style: none;
    background: #fff;
}
#languageList li
{
    height: 18px;
    line-height: 18px;
    text-align: center;
    cursor: pointer;
    font-size: 12px;
}
#shortKeyMenu
{
    position: absolute;
    width: 180px;
    padding: 2px;
    background: #fff;
    list-style: none;
    top: -59px;
    right: 10px;
}
#shortKeyMenu li
{
    line-height: 24px;
    cursor: pointer;
    padding: 0 4px;
    text-indent: 0;
    font-size: 12px;
}
div.block_wrap
{
    background: #000;
    position: absolute;
    top: 0;
    z-index: 11;
    width: 100%;
    height: 100%;
    opacity: .5;
    filter: alpha(opacity=50);
}
div.pop
{
    position: absolute;
    z-index: 13;
    top: 50%;
    left: 50%;
    line-height: 24px;
}
#innerSurveyForm, #chaterInfo
{
    width: 316px;
    height: 319px;
    padding: 0;
    margin: 0;
}
#innerSurveyForm #surveyTitle
{
    text-indent: 24px;
    padding: 10px 15px 0 15px;
    line-height: 20px;
}
#surveyComment
{
    text-indent: 24px;
    line-height: 20px;
}
#innerSurveyForm textarea
{
    width: 240px;
    height: 50px;
    margin-left: -2px; margin-left:20px;overflow:auto;}
#messageBar
{
    height: 20px;
}
#tool_wrap
{
    position: relative;
    padding: 2px 0;
}
#msg
{
    height: 100px;
}
#headerBox, #headerBoxTime
{
    font-size: 14px;
}
#chaterInfo h4
{
    padding: 20px 0;
    text-align: center;
}
#chaterInfo label
{
    display: block;
    float: left;
    width: 90px;
    text-align: right;
}
#chaterInfo p
{
    height: 24px;
    line-height: 24px;
}
#chaterInfo input.text
{
    width: 150px;
}
div.jp #chaterInfo label
{
    width: 120px;
}
#preChatForm
{
    height: 238px;
    width: 316px;
    font-size: 12px;
}
#innerPreform
{
    padding: 20px 10px;
    font-size: 12px;
}
#innerPreform div label
{
    float: left;
    display: block;
    width: 90px;
    text-align: right;
}
#innerPreform div
{
    height: 24px;
}
#innerPreform input.text, #subject
{
    width: 148px;
}
#pngWrap
{
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 12;
    top: 50%;
    left: 50%;
}
#messageBar
{
    padding: 0 0 0 20px;
}
#innerSurveyForm p
{
    line-height: 20px;
}
#innerSurveyForm input
{
    margin-left: 10px;
}
#notice
{
    position: absolute;
    float: left;
    background: url('../../Images/notice.gif');
    display: block;
    width: 85px;
    height: 30px;
    line-height: 24px;
    left: 30px;
    top: 6px;
    text-indent: 12px;
    font-size: 12px;
}
#dialback
{
    background-position: 1px -192px;
}
#history p font
{
    line-height: 1.5em;
}
#error.report
{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 248px;
    z-index: 10000;
    border: 1px #ccc solid;
    background: url('../../Images/warn_bg.jpg') repeat-x 0 center;
}
#error .hide
{
    display: none;
}
#error div
{
    line-height: 24px;
    padding: 4px 4px 4px 44px;
    background: url('../../Images/warn.png') no-repeat 4px center;
}
#error p
{
    font-size: 12px;
}
#error p.error
{
    color: red;
}
#error p.code
{
    color: #000;
}
#track
{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
html, body
{
    overflow: hidden;
}
