BODY {
	BACKGROUND-IMAGE: url(../../Imgs/bgImg.gif); FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 13px
}
.headTable {
	TEXT-ALIGN: left; WIDTH: 785px
}
.MenuTable {
	TEXT-ALIGN: center; WIDTH: 100%; HEIGHT: 33px; FONT-WEIGHT: bold
}
.MenuTd {
	BACKGROUND-IMAGE: url(../../Imgs/nav-bg.gif)
}
.ShowIntro {
	MARGIN-TOP: 5px; WIDTH: 100%
}
.BottomTable {
	WIDTH: 100%; HEIGHT: 59px; COLOR: white
}
.ContentTable {
	WIDTH: 100%; HEIGHT: 100%
}
