@import url('Common.css');

body
{
	width: 900px;
	margin:0 auto 5px;
	font-family: 宋体;
	background: #cccccc;

}
body *
{
	font-size: 9pt;
}
a, a:hover
{
	text-decoration: none;
}
h1, h2, h3, h4, h5, h6
{
	overflow: hidden;
	padding: 0;
	margin: 0;
	font-weight: normal;
}
ul, li, dl, dd, dt
{
	margin: 0;
	padding: 0;
}
h1
{
	background: url(      '../Page/Top.gif' );
	height: 187px;
}
h1 span
{
	width:322px;
	height:24px;
	line-height:24px;
	float:right;
	color:#fff;
}
h2
{
	background: url(      '../Page/Menu.gif' );
	height: 27px;
	line-height: 27px;
	margin-top:1px
}

#All
{
	background: #fff;
	padding: 0 1px;
}

#tbList td
{
	height:20px;
	line-height:20px;
}

/*Menu Start*/
.Menu
{
	margin-left: 16px;
	letter-spacing: 2px;
	text-align: center;
	list-style: none;
	color: #fff;
	font-size: 10pt;
}
.Menu li
{
	float: left;
	position: relative;
}
.Menu li.s
{
	height: 27px;
	width: 4px;
	background: url(      '../Page/MenuSplit.gif' );
}
.Menu li a
{
	display: block;
	width: 83px;
	background: url(      '../Page/MenuOut.gif' );
	color: #fff;
}
.Menu li a:hover
{
	background: url(      '../Page/MenuOver.gif' );
}

.Menu li ul
{
	width: 78px;
	border: solid 1px #ccc;
	border-width: 0 1px 1px 5px;
	position: absolute;
	top: 27px;
	display: none;
}
.Menu li ul li
{
	background: #fff;
	text-align: left;
	text-indent: 6px;
}
.Menu li ul li ul
{
	left: 78px;
	top: 0;
}
.Menu li ul a
{
	width: 78px;
	background: none;
	color: #000;
}
.Menu li ul li.p
{
	background: #fff url(      '../Page/ParentMenu.gif' ) no-repeat;
	background-position: right center;
}
/*Menu End*/

h3
{
	background: url(      '../Page/MenuBottom.gif' );
	height: 9px;
}
h4
{
	background: url(      '../Page/Current.gif' );
	height: 33px;
}
h4 img
{
	margin: 5px 8px -2px;
}
h6
{
	background: url(      '../Page/BottomMenu.gif' );
	height: 26px;
	line-height: 25px;
	color: #fff;
	text-align: center;
	clear: both;
}
h6 a
{
	color: #fff;
}

#Body
{
	margin: 5px 0 0;
}

#Content
{
	width: 668px;
	float: right;
}

#Content dl
{
	width: 330px;
	height: 194px;
	margin: 0 0 10px;
	border: 1px solid #990000;
	border-width: 0 1px 1px;
	padding: 0;
}
#Content dl dt,#Content dl dt a, #Content div.title, #Content div.title a
{
	height: 26px;
	background: url(      '../Page/ContentTitle.gif' ) repeat-x;
	font-size: 13px;
	color: #fff;
	line-height: 26px;
	text-indent: 10px;
}

#Content dl dt a
{
	color: #eee;
	font-weight:normal;
	float:right;
}

#Content div.page
{
	width: 660px;
	border: 1px solid #ADBDCE;
	border-top: 0;
}

#Content div.page ul li
{
	line-height: 24px;
	height: 24px;
	border-bottom: 1px dashed #ADBDCE;
	background: url(      '../Page/Li.gif' ) no-repeat 5px center;
	text-indent: 20px;
}

#Content div.page ul li span, #Side dl dd span, #Content dl dd span
{
	float: right;
	margin-right:5px;
}

#Content dl.zskx
{
	width:405px;
}

#Down
{
	background-color: #E3E3E3;
	width:100%;
}

#Down td
{
	height:24px;
	line-height:24px;
	background:#fff;
}


div.page .idName
{
	text-align: center;
	padding: 5px;
	font-size: 12pt;
	font-weight: bold;
	line-height: 24px;
}
div.page .info
{
	border: solid 1px #DDD;
	border-width: 1px 0;
	height: 24px;
	line-height: 24px;
	padding-right: 10px;
}

div.page .description
{
	border: solid 1px #DDD;
	margin: 4px;
	padding: 4px;
}

div.page .description .dtitle
{
	background: none;
}

div.page .description .dcontent
{
}

div.page .content
{
	padding: 5px;
	line-height:150%;
}

div.page .picture
{
}

div.page .picture img
{
	width:640px;
	margin:10px;
}


#Side
{
	width: 222px;
	float: left;
}

#Side dl
{
	margin: 0 0 10px;
	border: 1px solid #990000;
	border-width: 0 1px 1px;
	padding: 0; /*background: #EFEFF7;*/
}

#Side dl dt
{
	background: url(      '../Page/SideTitle.gif' ) repeat-x;
}

#Side dl dt,#Side dl dt a
{
	height: 26px;
	font-size: 13px;
	color: #fff;
	line-height: 26px;
	text-indent: 30px;
}

#Side dl dd, #Content dl dd
{
	margin: 8px 0 8px 2px;
	background: url(      '../Page/Li.gif' ) no-repeat 5px center;
	text-indent: 20px;
}

#Side dl.search
{
	height: 121px;
	overflow:hidden;
}

#Side dl.search dd
{
	background: none;
	text-indent: 10px;
}

#Search
{
	border: 1px solid #ADBDCE;
	height: 120px;
	clear: both;
	margin-bottom: 10px;
	background: url(      '../Page/banner.gif' ) no-repeat left center;
}

#CopyRight
{
	height: 65px;
	text-align: center;
	line-height: 24px;
	padding-top: 15px;
	clear:both;
	border:1px solid #ccc;
	border-bottom:4px #900;
}

#toolTip
{
	padding: 5px;
}

#Comment li
{
	font-size: 12px;
	color: #333;
	font-family: 宋体;
	padding-right: 10px;
	border-top: #ccc 1px solid;
	background: #fff;
}
#Comment li.label
{
	float: right;
	line-height: 30px;
}
#Comment li img
{
	border: 0;
	cursor: pointer;
}
#Comment li.info
{
	background: #efefef;
	height: 30px;
	line-height: 26px;
}
#Comment li.content
{
	padding-left: 40px;
	line-height: 30px;
}
#Comment img.team
{
	margin: 0 10px -5px;
}
#Comment b
{
	color: Red;
}
#Comment TD
{
	font-size: 12px;
	height: 30px;
	color: #333;
}


.gbTable
{
	width: 100%;
	border: 1px #ADBDCE solid;
	margin-bottom: 10px;
}
.gbTable td
{
	padding: 0 5px;
}
.gbTable td label
{
	float: right;
}
.gbTable .title, .gbTableW .title
{
	background: url(   '../Page/ContentTitle.gif' );
	height: 29px;
	color: #fff;
}
.gbTable .title label a
{
	color: #fff;
}
.gbTable .gbTdl
{
	border-right: 1px #ADBDCE solid;
	width: 130px;
	padding: 5px;
	line-height: 23px;
}
.gbTable .gbTdr
{
	padding: 5px;
	line-height: 18px;
}
.gbTable .replay
{
	margin: 8px;
	padding: 5px;
	border: 1px #777 dotted;
	color: Red;
}
.gbTableW
{
	width: 100%;
	border: 1px #ddd solid;
	margin-bottom: 10px;
	border-collapse: collapse;
}
.gbTableW td
{
	border: 1px #ADBDCE dotted;
	padding: 6px;
}
.gbTableW .title
{
	padding: 0 5px;
}

#planSearch
{
	height:35px;
	line-height:35px;
	text-align:center;
}

.flash
{
	width: 255px; height: 194px !important;height:212px;
}

/*提示框开始*/
#pltsTipLayer .toolTipMsg
{
	background-color: #F6F4F7;
	border: solid 1px #900;
}
#pltsTipLayer .toolTipTitle
{
	background-color: #900;
}
/*提示框结束*/