.icon-group-create {
	background-image: url(../images/icon/create.png) !important;
}

.icon-group-update {
	background-image: url(../images/icon/update.png) !important;
}

.icon-group-delete {
	background-image: url(../images/icon/delete.png) !important;
}

.icon-save {
	background-image: url(../images/icon/save.png) !important;
}

.icon-query 
{
   background-image: url(../images/icon/query.png) !important;
}

.icon-cancel {
	background-image: url(../images/icon/cancel.png) !important;
}

.icon-list {
	background-image: url(../images/icon/list.png) !important;
}

.icon-xieGenJin {
	background-image: url(../images/icon/xieGenJin.png) !important;
}

.icon-sheZhi {
	background-image: url(../images/icon/sheZhi.png) !important;
}

.icon-jiSuan {
	background-image: url(../images/icon/jiSuan.png) !important;
}


.x-tree-node-leaf .x-tree-node-icon 
{
    background-image: url(../images/icon/1_1.gif) !important;    
}

.tab1 
{
	font-size:11px;
}

.side_col {
	padding: 0 0 0 0;
	width: 310;
	height: 130;
	background: url("../images/side_col_bg.png") repeat-x scroll left top
		#FFFFFF;
	border: 1px solid #D0D0D0;
}

.x-grid-record-purple table {
	color: purple;
}

.x-grid-record-red table {
	color: #FF0000;
}

.x-grid-record-gray table {
	color: gray;
}

.x-grid-record-green table {
	color: green;
}
