<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DBSiteAdmin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <applicationSettings>
        <DBSiteAdmin.Properties.Settings>
            <setting name="Publication" serializeAs="String">
                <value>HdHouse-Pub</value>
            </setting>
            <setting name="Subscriber" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="Publisher" serializeAs="String">
                <value>Rd02</value>
            </setting>
            <setting name="PublicationDatabase" serializeAs="String">
                <value>HdHouse</value>
            </setting>
            <setting name="SubscriptionDatabase" serializeAs="String">
                <value>HdHouseLocal</value>
            </setting>
            <setting name="BusinessLogic" serializeAs="String">
                <value />
            </setting>
            <setting name="SyncWhenConnectedInterval" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="HostName" serializeAs="String">
                <value>Rd03</value>
            </setting>
            <setting name="WebSynchronizationUrl" serializeAs="String">
                <value>https://rd02/hdhousewebsync/replisapi.dll</value>
            </setting>
            <setting name="OutputFile" serializeAs="String">
                <value>HdHouseSync.log</value>
            </setting>
            <setting name="OutputVerboseLevel" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DBSiteAdmin_dbCenterWebService_DBCenterWebService"
                serializeAs="String">
                <value>http://localhost:1472/DBCenterAdmin/DBCenterWebService.asmx</value>
            </setting>
        </DBSiteAdmin.Properties.Settings>
    </applicationSettings>
</configuration>