<?xml version="1.0"?>
<ArrayOfThemeInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ThemeInfo>
    <Path>MD</Path>
    <Mail>dotnetlee@qq.com</Mail>
    <URL>http://www.19870123.cn/</URL>
    <Name>贵州大学明德学院</Name>
    <Author>李宏</Author>
    <Description>可更换四套皮肤。</Description>
    <Date>2008-04-15T00:00:00+08:00</Date>
    <Version>1.1</Version>
  </ThemeInfo>
</ArrayOfThemeInfo>