<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LiveSupport.OperatorConsole.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <LiveSupport.OperatorConsole.Properties.Settings>
            <setting name="PlaySoundOnChatReq" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PlaySoundOnChatMsg" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GetWebRequestOffline" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartWithWindows" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OperatorLoginTime" serializeAs="String">
                <value />
            </setting>
            <setting name="OperatorName" serializeAs="String">
                <value />
            </setting>
            <setting name="OperatorPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="RememberPassword" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoLogin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OperatorConsole_LiveChatWS_Operator" serializeAs="String">
                <value>http://lcs.zxkefu.cn/Operator.asmx</value>
            </setting>
            <setting name="URL" serializeAs="String">
                <value>http://www.zxkefu.cn</value>
            </setting>
            <setting name="SearchPasswordURL" serializeAs="String">
                <value>http://www.zxkefu.cn/GetBackPassword.aspx 
</value>
            </setting>
            <setting name="RegisterURL" serializeAs="String">
                <value>http://www.zxkefu.cn/Licence.aspx </value>
            </setting>
            <setting name="FtpUser" serializeAs="String">
                <value>test</value>
            </setting>
            <setting name="FtpPasssword" serializeAs="String">
                <value>test</value>
            </setting>
            <setting name="FtpURL" serializeAs="String">
                <value>ftp://125.67.234.12/upload</value>
            </setting>
            <setting name="WSUser" serializeAs="String">
                <value />
            </setting>
            <setting name="CloseSettingState" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CloseState" serializeAs="String">
                <value>True</value>
            </setting>
        </LiveSupport.OperatorConsole.Properties.Settings>
    </userSettings>
  <system.diagnostics>
    <trace autoflush="true" indentsize="0">
      <listeners>
        <add name="MyListener"
             type="System.Diagnostics.TextWriterTraceListener"
             initializeData="MyListener.log"/>
      </listeners>
    </trace>
    <switches>
      <add name="Test" value="4"/>
    </switches>
  </system.diagnostics>
</configuration>