<?xml version="1.0"?>
<ArrayOfThemeInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ThemeInfo>
    <Path>Default</Path>
    <Mail>dotnetlee@qq.com</Mail>
    <URL>http://www.19870123.cn/</URL>
    <Name>默认风格</Name>
    <Author>李宏</Author>
    <Description>蓝色为主调的风格。</Description>
    <Date>2008-04-22T00:00:00+08:00</Date>
    <Version>1.1</Version>
  </ThemeInfo>
</ArrayOfThemeInfo>