.DoData
{
	border:1px solid #C8D6DF;
	margin:5px;
	padding:10px;
	color:#0CADE4;
}
dt img 
{
	border:0;
}
body {
	margin: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif, 新宋体, 宋体;
	font-size: 12px;
	height: 100%;
	background:#fff;
}
form {
	margin: 0;
}
table, td {
	font-size: 12px;
	word-break: break-all;
}
a {
	color: #000;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.underline {
	text-decoration: underline;
}
select {
	background-color: #F9F9F9;
	font-size: 12px;
	border: 1px solid #999;
}
.dataInput {
	background-color: #F9F9F9;
	font-size: 12px;
	border: 1px solid #999;
	width: 150px;
}
.longInput {
	background-color: #F9F9F9;
	font-size: 12px;
	border: 1px solid #999;
	width: 300px;
}
.shortInput {
	background-color: #F9F9F9;
	font-size: 12px;
	border: 1px solid #999;
	width: 50px;
}
.specialInput {
	background-color: #F9F9F9;
	font-size: 12px;
	border: 1px solid #999;
	width: 490px;
}
.redText, leehom {
	color: Red;
}
.blueText {
	color: Blue;
}
.grayText {
	color: Gray;
	filter: DropShadow(Color=#ffffff, OffX=5, OffY=5, Positive=3);
}
.orangeText {
	color: Orange;
}
.greenText {
	color: Green;
}
.keyword {
	color: Red;
}
.pointer {
	cursor: pointer;
}
ul.List {
	display: inline;
	padding: 0 20px 5px 20px;
}
ul.List li {
	display: block;
	float: left;
	width: 14%;
	padding: 1px;
}
fieldset {
	padding: 5px;
}
.left {
	text-align: left;
}
.center {
	text-align: center;
}
.right {
	text-align: right;
}
.noBorder
{
	border:0;
	background-color:#fff;
}
#tbList {
	border: solid 1px #ccc;
	border-bottom: 0;
	width: 100%;
}
.trItem {
	background: #FFF;
}
.trTitle {
	height: 22px;
	line-height: 22px;
	background: #E8F5FE;
}
.trAlter {
	background: #E8F5FE;
}
.trCheck {
	background: #9CF;
}
.trTitle td, .trAlter td, .trItem td, .trMouseOver td, .trCheck td {
	border-bottom: 1px solid #C8D6DF;
}
.trMouseOver {
	background: #F3FDDB;
}
.logoImg img {
	width: 88px;
	height: 31px;
	border: 0;
}
.logoImg {
	width: 88px;
	height: 31px;
	border: 0;
}
.imgBtn {
	cursor: pointer;
	border: none;
}
.fixIBtn {
	margin-bottom: -4px;
}
div.Page {
	clear: both;
	text-align: right;
	margin: 10px 0 10px 10px;
	border: 0;
}
div.Page input{
	width: 25px;
	height: 18px;
	border: 1px solid #eee;
	margin: 0 2px -1px;
	color: #f60;
	padding: 0;
}
div.Page a:link, div.Page a:visited,div.Page label{
	padding: 2px 4px;
	margin: 0 2px;
	text-decoration: none;
	border: 1px solid #eee;
}
div.Page a:hover {
	color: #fff;
	background: #f60;
	border-color: #f60;
}
div.Page span{
	padding: 2px 4px;
	margin: 0 2px;
	text-decoration: none;
	background: #f60;
	border: 1px solid #f60;
	color: #fff;
}
.fright
{
	float:right;
}
.fleft
{
	float:left;
}
/*提示框开始*/
#pltsTipLayer *
{
	margin:0;
	padding:0;
}
#pltsTipLayer .toolTipMsg
{
	padding: 6px 14px;
	line-height: 135%;
	background-color: #F6F4F7;
	border: solid 1px #52B0E0;
}
#pltsTipLayer .toolTipTitle
{
	background-color: #52B0E0;
}
/*提示框结束*/