<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<!-- Register a new config section-->
	<configSections>
		<section name="SmallBusinessDataProviders" type="SmallBusinessDataProvidersSection" requirePermission="false"/>
	</configSections>
	<!-- Connection string, currently configured for SQL Express-->
 <connectionStrings>
		<remove name="SQLConnectionString"/>
		<!--<add name="SQLConnectionString" connectionString="Server=ocs;Database=Modulus;uid=sa;pwd=Motorola12;"/>-->
    <!--<add name="SQLConnectionString" connectionString="Server=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|LiveChat.mdf;Database=LiveChat;Trusted_Connection=True;" />-->
    <add name="SQLConnectionString" connectionString="Data Source=RD01;Initial Catalog=LiveSupport;Integrated Security=True" />
  </connectionStrings>
	<!-- Register the providers and specify which ones to use for data access for each of the 4 pages-->
	<SmallBusinessDataProviders peopleProviderName="xmlProvider" testimonialsProviderName="xmlProvider" catalogProviderName="xmlProvider" newsProviderName="xmlProvider">
		<!-- Register providers for People - Similarly for other pages-->
		<PeopleProviders>
			<add name="sqlProvider" type="SqlPeopleProvider" connectionStringName="SQLConnectionString"/>
			<add name="xmlProvider" type="XmlPeopleProvider" schemaFile="People.xsd" dataFile="People.xml"/>
		</PeopleProviders>
		<TestimonialsProviders>
			<add name="sqlProvider" type="SqlTestimonialProvider" connectionStringName="SQLConnectionString"/>
			<add name="xmlProvider" type="XmlTestimonialProvider" schemaFile="Testimonials.xsd" dataFile="Testimonials.xml"/>
		</TestimonialsProviders>
		<CatalogProviders>
			<add name="sqlProvider" type="SqlCatalogProvider" connectionStringName="SQLConnectionString"/>
			<add name="xmlProvider" type="XmlCatalogProvider" schemaFile="Items.xsd" dataFile="Items.xml"/>
		</CatalogProviders>
		<NewsProviders>
			<add name="sqlProvider" type="SqlNewsProvider" connectionStringName="SQLConnectionString"/>
			<add name="xmlProvider" type="XmlNewsProvider" schemaFile="News.xsd" dataFile="News.xml"/>
		</NewsProviders>
	</SmallBusinessDataProviders>
	<system.web>
		<membership>
   <providers>
    <clear />
    <add connectionStringName="SQLConnectionString" enablePasswordRetrieval="false"
     enablePasswordReset="true" requiresQuestionAndAnswer="true" requiresUniqueEmail="false"
     passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="7"
     minRequiredNonalphanumericCharacters="1" passwordAttemptWindow="10"
     passwordStrengthRegularExpression="" applicationName="/LiveSupport"
     name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
   </providers>
  </membership>
  <authentication mode="Forms">
			<!--<forms name=".ASPXUSERDEMO" loginUrl="Login.aspx" timeout="60"/>-->
		</authentication>
    <pages theme="Standard" />
    <customErrors mode="RemoteOnly" defaultRedirect="CustomError.aspx"/>
		<compilation debug="true" defaultLanguage="c#" />
	</system.web>

</configuration>
