HTML  {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
BODY {
	FONT-SIZE: 12px; BACKGROUND: #fff; OVERFLOW: auto; FONT-FAMILY: "ו","MS Gothic","Times New Roman","PMingLiU"; HEIGHT: 100%; mso-ascii-theme-font: minor-fareast
}
#tdhead {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; OVERFLOW: hidden
}
#head {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: 0px 0px; PADDING-LEFT: 35px; PADDING-BOTTOM: 0px; OVERFLOW: hidden; LINE-HEIGHT: 41px; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 41px
}
#tdinput {
	HEIGHT: 20px
}
#tdfooter {
	POSITION: relative; HEIGHT: 29px
}
#chatbox {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; MIN-HEIGHT: 424px; BORDER-LEFT: medium none; WIDTH: 100%; BORDER-BOTTOM: medium none; HEIGHT: 100%; min-width: 570px
}
#banner {
	BACKGROUND-POSITION: center 50%; MARGIN: 3px 3px 3px 0px; WIDTH: 100px; CURSOR: pointer; BACKGROUND-REPEAT: no-repeat; HEIGHT: 220px
}
#logo {
	DISPLAY: block; MARGIN: 0px 0px 0px 14px; WIDTH: 90px; HEIGHT: 41px
}
#history {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #ccc 1px solid; OVERFLOW-Y: scroll; PADDING-LEFT: 4px; BACKGROUND: #fff; OVERFLOW-X: hidden; PADDING-BOTTOM: 0px; OVERFLOW: scroll; BORDER-LEFT: #ccc 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #ccc 1px solid; HEIGHT: 100%
}
#footer {
	WIDTH: 100%; TEXT-INDENT: 25px; LINE-HEIGHT: 29px; BACKGROUND-REPEAT: no-repeat; POSITION: absolute; HEIGHT: 29px
}
#wrap {
	PADDING-RIGHT: 3px; DISPLAY: block; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; POSITION: relative;
}
#toolsbar {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; Z-INDEX: 2; PADDING-BOTTOM: 2px; MARGIN: 0px; WIDTH: 456px; LINE-HEIGHT: 20px; PADDING-TOP: 2px; HEIGHT: 20px
}
#inputarea {
	WIDTH: 100%
}
#footer P {
	PADDING-RIGHT: 25px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat
}
UL#toolsbar LI {
	PADDING-RIGHT: 3px; PADDING-LEFT: 18px; FONT-SIZE: 12px; FLOAT: left; BACKGROUND-IMAGE: url(tools_icn.gif); PADDING-BOTTOM: 0px; MARGIN: 2px 0px; OVERFLOW: hidden; CURSOR: pointer; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat; LIST-STYLE-TYPE: none
}
#file {
	BACKGROUND-POSITION: 2px 2px
}
#save {
	BACKGROUND-POSITION: 2px -20px
}
LI.open {
	BACKGROUND-POSITION: 2px -42px
}
LI.close {
	BACKGROUND-POSITION: 2px -64px
}
#language {
	BACKGROUND-POSITION: 2px -86px
}
#active {
	BACKGROUND-POSITION: 2px -108px
}
#shortcutkey {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 12px; RIGHT: 10px; BACKGROUND: url(tools_icn.gif) no-repeat right -148px; FLOAT: right; PADDING-BOTTOM: 0px; CURSOR: pointer; TEXT-INDENT: 0px; LINE-HEIGHT: 24px; PADDING-TOP: 0px; POSITION: absolute; TOP: 2px; HEIGHT: 24px
}
#exitChat {
	PADDING-RIGHT: 5px; BACKGROUND-POSITION: 2px -170px; PADDING-LEFT: 22px; FONT-SIZE: 12px; RIGHT: 10px; BACKGROUND-IMAGE: url(tools_icn.gif); PADDING-BOTTOM: 0px; CURSOR: pointer; LINE-HEIGHT: 20px; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat; POSITION: absolute; TOP: 5px; HEIGHT: 20px
}
#inputarea {
	CLEAR: both; PADDING-LEFT: 3px
}
#inputarea TEXTAREA {
	OVERFLOW-Y: scroll; DISPLAY: block; FONT-WEIGHT: normal; FONT-SIZE: 11pt; WIDTH: 100%; LINE-HEIGHT: 1.5em; FONT-FAMILY: "ו","MS Gothic","Times New Roman","PMingLiU"; HEIGHT: 100px; mso-ascii-theme-font: minor-fareast
}
#enter {
	BACKGROUND: #fff; MARGIN: 0px auto; WIDTH: 104px; CURSOR: pointer; HEIGHT: 100px
}
#history SPAN {
	DISPLAY: block; FONT-WEIGHT: normal; FONT-SIZE: 11pt; COLOR: #000; TEXT-INDENT: 24px; mso-ascii-theme-font: minor-fareast
}
#history P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 4px; MARGIN: 0px; LINE-HEIGHT: 1.5em; PADDING-TOP: 4px
}
#history P.operator {
	FONT-WEIGHT: bold; FONT-SIZE: 11pt; COLOR: #ff9600
}
#history P.info {
	FONT-SIZE: 14px; COLOR: #666666
}
#history P.visitor {
	FONT-WEIGHT: bold; FONT-SIZE: 11pt; COLOR: #0486b6; mso-ascii-theme-font: minor-fareast
}
#uploadFileBox {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; Z-INDEX: 2; LEFT: 5px; OVERFLOW: hidden; BORDER-LEFT: #ccc 1px solid; WIDTH: 400px; BOTTOM: 3px; BORDER-BOTTOM: #ccc 1px solid; POSITION: absolute; HEIGHT: 25px
}
#uploadFileFrame {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BACKGROUND: #fff; BORDER-LEFT: medium none; WIDTH: 400px; BORDER-BOTTOM: medium none; HEIGHT: 25px
}
#languageList {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; Z-INDEX: 2; BACKGROUND: #fff; PADDING-BOTTOM: 2px; WIDTH: 100px; PADDING-TOP: 2px; LIST-STYLE-TYPE: none; POSITION: absolute; TOP: 26px; HEIGHT: 88px
}
#languageList LI {
	FONT-SIZE: 12px; CURSOR: pointer; LINE-HEIGHT: 18px; HEIGHT: 18px; TEXT-ALIGN: center
}
#shortKeyMenu {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; RIGHT: 10px; BACKGROUND: #fff; PADDING-BOTTOM: 2px; WIDTH: 180px; PADDING-TOP: 2px; LIST-STYLE-TYPE: none; POSITION: absolute; TOP: -59px
}
#shortKeyMenu LI {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; CURSOR: pointer; TEXT-INDENT: 0px; LINE-HEIGHT: 24px; PADDING-TOP: 0px
}
DIV.block_wrap {
	Z-INDEX: 11; BACKGROUND: #000;  FILTER: alpha(opacity=50); WIDTH: 100%; POSITION: absolute; TOP: 0px; HEIGHT: 100%; opacity: .5
}
DIV.pop {
	Z-INDEX: 13; LEFT: 50%; LINE-HEIGHT: 24px; POSITION: absolute; TOP: 50%
}
#innerSurveyForm {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 316px; PADDING-TOP: 0px; HEIGHT: 319px
}
#chaterInfo {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 316px; PADDING-TOP: 0px; HEIGHT: 319px
}
#innerSurveyForm #surveyTitle {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; PADDING-BOTTOM: 0px; TEXT-INDENT: 24px; LINE-HEIGHT: 20px; PADDING-TOP: 10px
}
#surveyComment {
	TEXT-INDENT: 24px
}
#innerSurveyForm TEXTAREA {
	MARGIN-LEFT: 20px; OVERFLOW: auto; WIDTH: 240px; HEIGHT: 50px
}
#messageBar {
	HEIGHT: 20px
}
#tool_wrap {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; POSITION: relative
}
#msg {
	HEIGHT: 100px
}
#headerBox {
	FONT-SIZE: 14px
}
#headerBoxTime {
	FONT-SIZE: 14px
}
#chaterInfo H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 20px; PADDING-TOP: 20px; TEXT-ALIGN: center
}
#chaterInfo LABEL {
	DISPLAY: block; FLOAT: left; WIDTH: 90px; TEXT-ALIGN: right
}
#chaterInfo P {
	LINE-HEIGHT: 24px; HEIGHT: 24px
}
#chaterInfo INPUT.text {
	WIDTH: 150px
}
DIV.jp #chaterInfo LABEL {
	WIDTH: 120px
}
#preChatForm {
	FONT-SIZE: 12px; WIDTH: 316px; HEIGHT: 238px
}
#innerPreform {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 12px; PADDING-BOTTOM: 20px; PADDING-TOP: 20px
}
#innerPreform DIV LABEL {
	DISPLAY: block; FLOAT: left; WIDTH: 90px; TEXT-ALIGN: right
}
#innerPreform DIV {
	HEIGHT: 24px
}
#innerPreform INPUT.text {
	WIDTH: 148px
}
#subject {
	WIDTH: 148px
}
#pngWrap {
	BACKGROUND-POSITION: center 50%; Z-INDEX: 12; LEFT: 50%; BACKGROUND-REPEAT: no-repeat; POSITION: absolute; TOP: 50%
}
#messageBar {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#innerSurveyForm P {
	LINE-HEIGHT: 20px
}
#innerSurveyForm INPUT {
	MARGIN-LEFT: 10px
}
#notice {
	DISPLAY: block; FONT-SIZE: 12px; BACKGROUND: url(notice.gif); LEFT: 30px; FLOAT: left; WIDTH: 85px; TEXT-INDENT: 12px; LINE-HEIGHT: 24px; POSITION: absolute; TOP: 6px; HEIGHT: 30px
}
#dialback {
	BACKGROUND-POSITION: 1px -192px
}
#history P FONT {
	LINE-HEIGHT: 1.5em
}
.report#error {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; Z-INDEX: 10000; BACKGROUND: url(warn_bg.jpg) repeat-x 0px center; LEFT: 50%; BORDER-LEFT: #ccc 1px solid; WIDTH: 248px; BORDER-BOTTOM: #ccc 1px solid; POSITION: absolute; TOP: 50%
}
#error .hide {
	DISPLAY: none
}
#error DIV {
	PADDING-RIGHT: 4px; PADDING-LEFT: 44px; BACKGROUND: url(warn.png) no-repeat 4px center; PADDING-BOTTOM: 4px; LINE-HEIGHT: 24px; PADDING-TOP: 4px
}
#error P {
	FONT-SIZE: 12px
}
#error P.error {
	COLOR: red
}
#error P.code {
	COLOR: #000
}
#track {
	Z-INDEX: -1; LEFT: 0px; POSITION: absolute; TOP: 0px
}
HTML {
	OVERFLOW: hidden
}
BODY {
	OVERFLOW: hidden
}
