body 
{
	font-size:13px;
	font-family:@仿宋_GB2312;
	background-image:url('../../Imgs/bgImg.gif');
	font-family:Verdana, Arial, Helvetica, sans-serif;
}

.headTable
{
	text-align:left;
	width:785px;

}
.MenuTable
{
	width:100%;
	font-weight:bold;
	height:33px;

	
}

.MenuTd
{
	background-image:url('../../Imgs/nav-bg.gif');
	
}

.ShowIntro
{
	width:100%;
	margin-top:5px;
}
.BottomTable
{
	width:100%;
	height:59px;
	color:White;
}
.ContentTable
{
	width:100%;
	height:100%;	
}
