body
{
	margin-top: 0;
	font-size: 12px;
	color: #333;
	line-height: 18px;
	text-decoration: none;
	background-image: url(     '../Images/bj.jpg' );
	background-repeat: repeat-x;
}
.redText, leehom
{
	color: Red;
}
.blueText
{
	color: Blue;
}
.grayText
{
	color: Gray;
	filter: DropShadow(Color=#ffffff, OffX=5, OffY=5, Positive=3);
}
.orangeText
{
	color: Orange;
}
.greenText
{
	color: Green;
}
.keyword
{
	color: Red;
}
.pointer
{
	cursor: pointer;
}
.right
{
	text-align: right;
}
.clear
{
	clear: both;
}
.dataInput
{
	background-color: #F9F9F9;
	font-size: 12px;
	border: 1px solid #999;
	width: 150px;
}
.longInput
{
	background-color: #F9F9F9;
	font-size: 12px;
	border: 1px solid #999;
	width: 300px;
}
.shortInput
{
	background-color: #F9F9F9;
	font-size: 12px;
	border: 1px solid #999;
	width: 50px;
}
.specialInput
{
	background-color: #F9F9F9;
	font-size: 12px;
	border: 1px solid #999;
	width: 300px;
}
a, a:visited, a:active
{
	color: #333333;
	text-decoration: none;
}
a:hover
{
	color: #FF6600;
}
.menu_link:link
{
	color: #FFF;
}
menu_link:hover
{
	color: #FF9900;
}
/****Top部分开始****/
.Whole
{
	margin: 0 auto;
	width: 778px;
	margin-top: 0;
}
.Top
{
	height: 84px;
	background-image: url(     '../Images/TopBg.jpg' );
	color: #FFF;
	font-size: 12px;
}
.Menu_Down
{
	height: 30px;
	line-height: 30px;
	border-top: 1px #0066CC solid;
}
.Menu_Up
{
	height: 45px;
	line-height: 40px;
	color: gray;
	width: 500px;
}


#nav
{
	margin: 0px;
	text-align: center;
	width: 500px;
	float: right;
	margin-top: 25px;
}
#nav li
{
	display: inline;
	list-style-type: none;
	padding: 3 0px;
	float: left;
	color: #FFF;
	text-align: center;
	border-right: 1px #FFF solid;
}

#nav li a:visited
{
	float: left;
	padding: 1px 15px;
	text-decoration: none;
	color: #FFF;
}
#nav li a:link
{
	float: left;
	padding: 1px 15px;
	text-decoration: none;
	color: #FFF;
}
#nav li a:hover
{
	color: #fff;
	background: #06c;
}
#nav li a.current
{
	color: #fff;
	background: #f60;
}

/****Top部分结束****/

/****Content部分开始****/
.border
{
	border-left: 1px #0066FF solid;
	border-right: 1px #0066FF solid;
}
.left
{
	width: 455px;
	float: left;
	border-right: 1px #CCC solid;
	margin-top: 8px;
}
.right
{
	width: 305px;
	float: right;
	margin-top: 8px;
}

.Sort_border
{
	border-bottom: 1px gray dotted;
	height: 30px;
	margin-left: 10px;
	margin-right: 10px;
	text-align: center;
}

.Sort
{
	width: 360px;
	margin-left: 2px;
	font-weight: bold;
	font-size: 13px;
	color: #1d6297;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 30px;
	float: left;
}
.Sort_right
{
	width: 200px;
	margin-left: 2px;
	font-weight: bold;
	font-size: 13px;
	color: #1d6297;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 30px;
	float: left;
}
.Sort_border_right
{
	width: 95%;
	border: 0;
}
.img
{
	width: 163px;
	height: 140px;
	background: url(            '../Images/PicBG.gif' ) no-repeat;
	background-color:Transparent;
	float: left;
	text-align: center;
	margin: 5px 6px !important;
	margin: 5px 5px;
}

.img img
{
	border: 0;
	height: 120px;
	width: 150px;
	margin: 4px auto;
}

.info
{
	text-align: right;
	border: 1px gray dotted;
	border-width: 1px 0;
	padding: 5px;
	margin: 0 5px;
}
.imgShow img
{
	width: 510px;
}
.imgShow
{
	text-align: center;
	width: 510px;
	margin: 5px auto;
}


.title
{
	padding: 10px;
	margin-left: 10px;
	margin-right: 10px;
	text-align: center;
	margin-left: 2px;
	font-weight: bold;
	font-size: 13px;
	color: #1d6297;
	text-align: center;
}
.Icon
{
	vertical-align: middle;
	border-style: solid;
	border-width: 0;
}

#ImgList
{
	margin: 0;
	padding: 0;
}
#ImgList li
{
	list-style: none;
	margin: 3px;
	padding: 3px;
	float: left;
}
#ImgList li span
{
	margin: 3px 0;
	padding: 0;
	display: block;
	width: 131px;
	height: 24px;
	line-height: 24px;
	text-align: center;
}
#ImgList li img, #ImgList li img a
{
	border: 1px #ccc solid;
	width: 131px;
	height: 92px;
	text-align: center;
	padding: 2px;
}
#NewsList
{
	width: 445px;
	list-style: none;
	margin: 4px 0;
	padding: 0;
}
#NewsList li
{
	height: 22px;
	line-height: 22px;
	background: url(  '../Images/Arrow_01.gif' ) no-repeat left center;
	text-indent: 12px;
}
.Search_button
{
	font-size: 12px;
	width: 50px;
	color: #333;
	height: 22px;
}

.banner
{
	height: 200px;
	margin-top: 2px;
	margin-bottom: 5px;
	border-bottom: 1px gray solid;
}
.banner img
{
	width:778px;
	height: 200px;
}
/****Content部分结束****/

.Bottom
{
	clear: both;
	margin: 0 auto;
	width: 778px;
	height: 80px;
	text-align: center;
	background-image: url(     '../Images/CopyRight.gif' );
	border-bottom: 5px #0066CC solid;
	border-top: 1px gray solid;
	border-left: 1px #0066FF solid;
	border-right: 1px #0066FF solid;
}


/****二级页面开始******/
.Class_left
{
	float: left;
	width: 230px;
	margin-top: 0px;
}
.Class_right
{
	float: right;
	width: 530px;
	margin-top: 8px;
	border-left: 1px #C0C0C0 dotted;
}
.Class_Sort
{
	margin-top: 15px;
}
.Class_Sort1
{
	width: 220px;
	margin-left: 3px;
	text-align: left;
	float: left;
	margin-left: 10px;
	font-weight: bold;
	font-size: 13px;
	color: #1d6297;
	font-family: Arial, Helvetica, sans-serif;
	height: 30px;
	line-height: 30px;
	border: 1px #C0C0C0 dotted;
}
.Class_Sort2
{
	font-size: 12px;
	color: #1d6297;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 15px;
	height: 15px;
	text-align: center;
	width: 140px;
	border-bottom: 1px #C0C0C0 dotted;
	margin-top: 10px;
	margin-left: 40px;
}
.Search
{
	margin-top: 15px;
	text-align: left;
	width: 120px;
}
/****二级页面结束******/

#News
{
	margin: 0;
	padding: 0;
	list-style: none;
}
#News li
{
	margin: 0 5px;
	border-bottom: dotted 1px #ccc;
	height: 24px;
	line-height: 24px;
	background: url(  '../Images/Arrow_01.gif' ) no-repeat left center;
	text-indent: 12px;
}

#News span
{
	float: right;
}

.ArticleRead
{
	margin: 10px;
}




div.Page
{
	clear: both;
	text-align: right;
	margin: 10px 0 10px 10px;
	border: 0;
}
div.Page input
{
	width: 25px;
	height: 18px;
	border: 1px solid #eee;
	margin: 0 2px -1px;
	color: #f60;
	padding: 0;
}
div.Page a:link, div.Page a:visited, div.Page label
{
	padding: 2px 4px;
	margin: 0 2px;
	text-decoration: none;
	border: 1px solid #eee;
}
div.Page a:hover
{
	color: #fff;
	background: #f60;
	border-color: #f60;
}
div.Page span
{
	padding: 2px 4px;
	margin: 0 2px;
	text-decoration: none;
	background: #f60;
	border: 1px solid #f60;
	color: #fff;
}
.fright
{
	float: right;
}
.fleft
{
	float: left;
}
/*提示框开始*/
#pltsTipLayer *
{
	width: 210px;
	margin: 0;
	padding: 0;
}
#pltsTipLayer .toolTipMsg
{
	width: 180px;
	padding: 6px 14px;
	line-height: 135%;
	background-color: #F6F4F7;
	border: solid 1px #52B0E0;
}
#pltsTipLayer .toolTipTitle
{
	width: 210px;
	background-color: #52B0E0;
}
/*提示框结束*/



.gbTable
{
	width: 97%;
	border: 1px #ADBDCE solid;
	margin:0 auto 10px auto;
}
.gbTable td
{
	padding: 0 5px;
}
.gbTable td label
{
	float: right;
}
.gbTable .gbTitle, .gbTableW .gbTitle
{
	background: url(   '../Images/ContentTitle.gif' );
	height: 29px;
	color: #000;
}
.gbTable .gbTitle label a
{
	color: #000;
}
.gbTable .gbTdl
{
	border-right: 1px #ADBDCE solid;
	width: 130px;
	padding: 5px;
	line-height: 23px;
}
.gbTable .gbTdr
{
	padding: 5px;
	line-height: 18px;
}
.gbTable .replay
{
	margin: 8px;
	padding: 5px;
	border: 1px #777 dotted;
	color: Red;
}
.gbTableW
{
	width: 97%;
	border: 1px #ddd solid;
	margin:0 auto 10px auto;
	border-collapse: collapse;
}
.gbTableW td
{
	border: 1px #ADBDCE dotted;
	padding: 6px;
}
.gbTableW .gbTitle
{
	padding: 0 5px;
}
