<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.runtime.remoting>
    <application>
      <client>
        <wellknown type="OperatorServer, OperatorServiceInterface" url="http://localhost:3355/OperatorServer.aspx" />
      </client>
      <channels>
        <channel ref="http" port="0"></channel>
      </channels>
    </application>
  </system.runtime.remoting>
</configuration>